body {
    background-image: linear-gradient(to bottom, rgba(3, 5, 20, 0.774), rgba(0, 0, 0, 0.253)), url(./movies.jpg);
    font-family: Times New Roman (serif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    background-color: black;
    height: 100vh;

    
   
}





/*navbar start*/
.nav-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

  
}

.nav-buttons .nav {
    position: relative; 
}

.nav-buttons .nav div {
    font-size: 20px;
   
}

.nav-buttons .nav div a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
}

.nav-buttons .nav .home {
    padding: 10px;
}

.nav-buttons .nav .fav {
    margin-right: 20px;
    padding: 10px;
}
.nav-buttons .nav  .active {
    background: linear-gradient(rgb(12, 235, 205), rgb(4, 71, 51));
    color: #fff;
  
}

.nav-buttons .nav .nav-btn {
    border: 1px solid gray;
    border-radius: 10px;
    color: #fff;

}


.nav-buttons .nav  .fav-length {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    width: 30px;
    text-align: center;
    background-color: red;
    border-radius: 50%;
   

}



/*navbar end*/


/*form start*/

.form .btn {
    background: linear-gradient(rgb(12, 235, 205), rgb(4, 71, 51));
    font-weight: 500;
    color: #fff;
}

.input-group {
    
   padding-top: 50px;
   padding-bottom: 20px;
}

/*form end*/

/*card start*/

.movie-card  {
    text-align: center;
}

.cardBody  {
    border: 1px solid rgb(56, 56, 53) ;
    border-radius: 15px;
    background-color: rgb(56, 56, 53) ;
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}

.cardBody:hover {
    border: 1px solid rgb(26, 203, 106) ;
    background-color: rgb(26, 203, 100) ;

}
.cardBody img {
   height: 390px;
   width: 100%;
  
}



 .movieInfo {
   text-align: center;
   color: #fff;
   font-weight: bold;
   margin-bottom: 5px;
   

}

.addButton {
    color: #fff;
    cursor: pointer;
    font-size: 25px;
}

.addButton-red {

    color: red;
    cursor: pointer;
    font-size: 25px;


}

.cardDetails  .addButton {
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    margin-left: 20px;
}

.cardDetails  .addButton-red {
    color: red;
    cursor: pointer;
    font-size: 30px;
    margin-left: 20px;

 
}






/*card end*/


/*fav start*/

.favoriet img  {
    height: 390px;
}



.cardBody .removeFav {
    color: #fff;
    cursor: pointer;
}

.cardBody .removeFav:hover {
    color: red;
}

/*fav end*/





@media only screen and (max-width: 900px) {
    .nav-buttons {
        justify-content: center;
    }

    .nav-buttons .nav div {
        font-size: 15px;
       
    }

    

    .nav-buttons .nav  .fav-length {
        font-size: 15px;
        width: 20px;
    }

    .cardBody:hover {
        border: 1px solid rgb(56, 56, 53) ;
        background-color: rgb(56, 56, 53) ;    
    }
  
        
    
}




@media only screen and (max-width:281px) { 

    .nav-buttons {
        justify-content: center;
    }

    .nav-buttons .nav div {
        font-size: 10px;
       
    }

  

    .nav-buttons .nav  .fav-length {
        font-size: 10px;
        width: 15px;
    }

    .cardDetails .backToSearch {
        font-size: 30px;
    }

    .cardDetails   { 
        text-align: center;

    }

  

}

