body {
    background:  url("./movies.jpg") center top no-repeat  ;
    background-color: rgb(0, 0, 0);
    font-family: Times New Roman (serif);
   
}

/*navbar start*/

.navbar {
    background-color: rgb(27, 25, 19);
   position: fixed;
   bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 45px 45px 0 0;
    z-index: 100;
    
    
    
    
    
}

.navbar ul li  {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
  
    
    
    
}
.navbar ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.274);
    font-size: 20px;
    font-weight: bold;

    

    
}

.navbar ul li .active {
    color: rgb(255, 255, 255);
}

.navbar ul .fav-length {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    width: 30px;
    text-align: center;
    background-color: red;
    border-radius: 50%;
    position: relative;
    right: 15px;
}


/*navbar end*/


/*form start*/

.form .btn {
    background-color: gold;
}

.input-group {
    
   padding-top: 50px;
   padding-bottom: 20px;
}

/*form end*/

/*card start*/

.cardBody  {
    border: 1px solid rgb(56, 56, 53) ;
    border-radius: 15px;
    background-color: rgb(56, 56, 53) ;
    height: 95%;
    position: relative;
    overflow: hidden;
    
}

.cardBody:hover {
    border: 1px solid rgba(255, 217, 0, 0.849) ;
    background-color: rgba(255, 217, 0, 0.884) ;

}
.cardBody img {
   height: 93%;
   width: 100%;
   border-bottom-left-radius: 10%;
   border-bottom-right-radius: 10%;

  
}



 .movieInfo {
   text-align: center;
   color: #fff;
   font-weight: bold;
   margin-bottom: 5px;
   

}

 .cardBody .addButton {
    color: #fff;
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
}

.cardBody .addButton:hover {
    color: red;
}

/*card end*/


/*fav start*/

.fav-card {
    margin-top: 50px;
}
.fav-card h3 {
    padding-bottom: 20px;
    color: #fff;
}

.favoriet  {
    border: 2px solid rgb(56, 56, 53) ;
    border-radius: 15px;
    background-color: rgb(56, 56, 53) ;
   
    
   
}

.favoriet img {
    height: 350px;
    border-radius: 15px;
}

.fav-card .removeFav {
    color: #fff;
    cursor: pointer;
}

.fav-card .removeFav:active {
    color: red;
}

/*fav end*/







@media (min-width:200px) and (max-width:281px) { 

    .navbar ul li a {
        font-size: 18px;
    }


}